<footer class="page-footer grey darken-3">
  <div class="container">
    <div class="row">
        <h5 class="white-text">About the Website</h5>
        <p class="grey-text text-lighten-4">A by-product of being drunk and Web Development.</p>
        <div class="col s5">Made by <a class="orange-text text-lighten-3" href="https://github.com/DaraSingh1998">Dara Singh</a></div><div class="col s2"></div>
        <div class="col s5"><a class="orange-text text-lighten-3" href="https://www.thecocktaildb.com/api.php">API Used</a></div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2019 Copyright
    </div>
  </div>
</footer>
