<nav>
   <div class="nav-wrapper">
     <a href="/" class="brand-logo">Know Your Alcohol<i class="fa fa-glass"></i></a>
     <ul id="nav-mobile" class="right hide-on-med-and-down">
     </ul>
   </div>
 </nav>
