<h1>Welcome</h1>
<p>Welcome to Know our Alcohol 1.0.0</p>
<p>Search about Alcohols and cocktails</p>
<div class="row">
  <form class="col s12" action="/index" method="post">
    <div class="row">
      <div class="input-field">
        <input type="text" name="cocktail" placeholder="Cocktail">
        <label for="cocktail">Title</label>
      </div>
    </div>
</div>
